{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if articles%}
      <h2>Found {{ articles|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
        <div class="col-md-6 m-2">
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{ article.title }}</h5>
        </div>
        {%if article.article_image%}
        <img src="{{article.article_image.url}}" class="card-img-top img-fluid" alt="images">
        {%else%}

        {%endif%}
        <div class="card-body">
          <p class="card-text">{{article.post }} </p>
        </div>
        <div class="card-footer text-muted">
            Posted by : {{ article.editor }}
        </div>
      </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}