<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
          <ul>
          <li>
          <a class="navbar-brand text-white" href="{% url 'newsToday' %}">The Moringa Tribune</a>
          <a class="navbar-brand text-white" href="/admin">Create Tribune </a>
          </li>
          </ul>


          <form class="d-flex" role="search" action = "{% url 'search_results' %}">
            <input type="text" class="form-control" placeholder="Search Article" name="article">
            <button class="btn btn-dark mx-2" type="submit"><i class="bi bi-search"></i>
            </button>
          </form>

        </div>
      </nav>

</body>
</html>